@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;700;800&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	margin-bottom: 0;
	font-size: 2rem;
}

h1 + p {
	margin-top: 0;
}

body {
	font-family: "Khula";
	font-weight: 400;
	font-size: 22px;
}
